.links-container {
    max-width: 1120px;
    margin: 32px auto 0 auto;
}

.links-header {
    display: flex;
}

.links-header svg {
    margin-right: 14px;
}

.links-header svg:hover {
    transform: rotate(-360deg);
    transition: .6s;
}

.links-header h1 {
    color: #fff;
}

.links-item {
    width: 700px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.links-item:last-child {
    margin-bottom: 18px;
}

.link {
    border: 0;
    width: 100%;
    min-width: 80%;
    border-radius: 4px;
    height: 46px;
    background-color: rgb(255, 255, 255, .15);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 18px;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link svg {
    margin-right: 14px;
}

.link-delete {
    border: 0;
    background: transparent;
}

.empty-text {
    width: 100%;
    text-align: center;
    color: #FFF;
    margin: 28px 0 0;
}

@media (max-width: 768px) {
    .links-container {
        width: 90%;
    }

    .logo h1 {
        font-size: 40px;
    }

    .links-item {
        width: 100%;
    }

    .link {
        width: 100%;
    }

    .link svg {
        display: none;
    }
}